/** @format */
:root {
  --dark-blue-element: hsl(209, 23%, 22%);
  --very-dark-blue-bg: hsl(207, 26%, 17%);
  --very-dark-text: hsl(200, 15%, 8%);
  --dark-gray-input: hsl(0, 0%, 52%);
  --very--light--gray-bg: hsl(0, 0%, 98%);
  --light-gray-text: hsl(0, 0%, 100%);
}
.dark-theame {
  background-color: var(--very-dark-blue-bg);
  color: var(--light-gray-text);
}
.light-theame {
  background-color: var(--very--light--gray-bg);
  color: var(--very-dark-textt);
}
